
#search li{
	display:inline;	
	float: left;
	margin-right : 10px;
	text-decoration: none;
	list-style-type: none;
}

#messagePanel {
	color:navy;
	border-style: solid;
	border-width: 1px;
}

#addPanel ul {
	text-decoration: none;
	list-style-type: none;
	
}

#addPanel li {
	display: block;
	margin-right : 10px;
	margin-bottom : 10px;
}

#addPanel li label{
	float: left;
	display: block;
    width: 100px;
}

#addActions li{
	float: left;
	display: inline;
	margin-right : 10px;
	margin-bottom : 10px;
}

#pagination li{
	display:inline;	
	float: left;
	margin-right : 5px;
	text-decoration: none;
	list-style-type: none;
	color: #6678B1;
	border-style: solid;
	border-width: 1px;
}

table{
	border-style: none;
	border-collapse:collapse;
}

th{
	padding: 5px 5px;
	border-style :solid;
	border-width :2px;
	border-color:#6678B1;
	font-weight: normal;
	text-align: left;
	font-size: 14px;
}

tr{
	border-color: #6678B1;
	border-style :solid;
	border-width :1px;
	font-weight: normal;
	text-align: left;	
	
}

td{
	padding: 5px 5px;
	border-color: inherit;
	border-style :solid;
	border-width :1px;
}