
#search li{
	display:inline;	
	float: left;
	margin-right : 10px;
	text-decoration: none;
	list-style-type: none;
}

#addBrandPanel ul {
	text-decoration: none;
	list-style-type: none;
	
}

#addBrandPanel li {
	display: block;
	margin-right : 10px;
	margin-bottom : 10px;
}

#addBrandPanel li label{
	float: left;
	display: block;
    width: 100px;
}

#addBrandActions li{
	float: left;
	display: inline;
	margin-right : 10px;
	margin-bottom : 10px;
}

#pagination li{
	display:inline;	
	float: left;
	margin-right : 5px;
	text-decoration: none;
	list-style-type: none;
	color: navy;
	border-style: solid;
	border-width: 1px;
}

table{
	border-style: none;
	color: #003399;
	border-collapse:collapse;
}

th{
	padding: 10px 8px;
	border-bottom-style :solid;
	border-bottom-width :2px;
	border-bottom-color:#6678B1;
	font-weight: normal;
	text-align: left;
	font-size: 14px;
}

tr{
	border-color: inherit;
	border-bottom-style :solid;
	border-bottom-width :1px;
}

td{
	padding: 10px 8px;
	text-transform: capitalize;
}